.content {
  padding-top: 60px;
  .card {
    width: 90%;
    height: 220px;
    margin: 30px auto 0;
    border-radius: 6px;
    box-shadow: 0 0 10px #ccc;
    img {
      height: 77%;
      width: 100%;
      border-radius: 6px 6px 0 0;
    }
    .desc {
      height: 18%;
      display: flex;
      align-items: center;
      padding: 0 12px;
      justify-content: space-between;
      .title {
        font-size: 17px;
      }
      .listen {
        display: flex;
        font-size: 17px;
        line-height: 20px;
        color: #999;
        img {
          width: 20px;
          height: 20px;
          margin-right: 6px;
        }
      }
    }
  }
}
